---
- hosts: all
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3.6
    pip_install_packages:
      - name: docker
    docker_users:
      - vagrant

  pre_tasks:
    - name: Install EPEL repo (for CentOS)
      package:
        name: epel-release
        state: present
      when: ansible_distribution == "CentOS"

    - name: Install Python 3 and pip3
      package:
        name:
          - python3
          - python3-pip
        state: present

    - name: Install Docker module for Python
      pip:
        name: docker
        executable: pip3
        
    - name: Install docker-compose
      get_url:
        url: https://github.com/docker/compose/releases/download/1.29.2/docker-compose-Linux-x86_64
        dest: /usr/local/bin/docker-compose
        mode: 0755
    
    - name: Enable and Start docker
      service:
        name: docker
        state: started
        enabled: yes

  roles:
    - geerlingguy.pip
    - geerlingguy.docker
